body {
	background: lightgreen;
}

.photo {
	border: lavender;
	border-radius: 50px;
}

#title, .subtitle, .post_title{
	color: darkgreen;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background: palegreen;
	padding: 20px;
	border: 3px dotted darkgreen;
	margin-bottom: 20px;
	border-radius: 25px;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
}

.post_image {
	margin-bottom: 20px;
}
