body {
	background: lightgreen;
	font-family: fantasy;
	max-width: 900px; /*delimita o conteúdo da página*/
	margin: auto; /*esse valor cria uma margem que se adequa ao tamanho da tela*/
}

.photo {
	border: lavender;
	border-radius: 50px;
}

#title, .subtitle, .post_title{
	color: darkgreen;
}

#title {
	font-size: 40px;
	text-transform: uppercase;
}

a {
	text-decoration: underline; /* decoração do link */ 
	color: darkgreen;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background: palegreen;
	padding: 20px;
	border: 3px dotted darkgreen; /*margem com bolinhas*/
	margin-bottom: 20px;
	border-radius: 25px;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize; /*primeira letra da palavra maiúscula*/
	text-align: center; /*esse serve para alinha o texto*/
}

.post_image {
	margin-bottom: 20px;
}

.contacts_list {
	list-style-type: none;
	padding-left: 15px;
}

.contacts_list li a {
	color: darkgreen;
}

