body {
	background: lightgreen;
	font-family: fantasy;
}

.photo {
	border: lavender;
	border-radius: 50px;
}

#title, .subtitle, .post_title{
	color: darkgreen;
}

#title {
	font-size: 40px;
	text-transform: uppercase;
}

a {
	text-decoration: underline; /* decoração do link */ 
	color: darkgreen;
}

.post_title{
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background: palegreen;
	padding: 20px;
	border: 3px dotted darkgreen; /*margem com bolinhas*/
	margin-bottom: 20px;
	border-radius: 25px;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize; /*primeira letra da palavra maiúscula*/
}

.post_image {
	margin-bottom: 20px;
}
